<html>
  <head>
    <link rel="stylesheet" href="css/style.css" /> <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API handling</title>
  </head>
  <body>
    
    <form method='post' action="home">
        <div class=" form">
            <div class="right-pane">
                <input type="text" id="movieSearch"  name="movieSearch" placeholder="Search Movie Name"/>
            </div>
        </div>
        <div class="submit-name">
            <input type="submit" value="Search" class="searchBtn"/>
        </div>
        </div>

        <br><br>
      </form>

        <br><br>
    <%MovieSearched.forEach(movie => { %>

    <div class="card">
      <img src="<%=movie.poster %>" />
      <div class="container">
        <h4><b><%=movie.title%></b></h4>
        <p>Rated:<%=movie.rated %></p>
        <p>Genre:<%=movie.genre %></p>
        <p>Released:<%=movie.released %></p>
      </div>
    </div>

    <%})%>
  </body>
</html>
